.profile {
  --radius: 3rem;
  font-weight: 900;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}